body {
    background-image: url('../Imagens/Background1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.telaLogin{
    margin-top: 70px;
}

.logo {
    text-align: center;
}

.login1 {
   margin-left: 34%;
}


input {
    background-color: #231742;
    border-radius: 10px;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login2 {
    text-align: center;
}

button {
    margin-left: -1%;
    background-color: #71E179;
    width: 330px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    cursor: pointer;
    border: none;
    transition: .4s;
}

button:hover{
    box-shadow: 0 0 10px rgb(80, 255, 80);
}

.person {
    text-align: left;
    display: inline;
}

.cadeado {
    text-align: left;
    display: inline;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin-left: 42%;
    color: whitesmoke;
}

a {
    color: #4169E1;
}

@media(max-width: 1440px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
        height: 866px;
    }

    .logo{
        margin-left: 0%;
    }

    .login1{
        margin-left: 30%;
    }

    .login2{
        margin-left: 2%;
    }

    p{
        margin-left: 2%
    }
}

@media (max-width: 1024px){
    body{
        background-repeat: no-repeat;
        background-size: cover;
        height: 866px;
    }
    
    .logo{
        padding-left: 2%;
    }

    .login1{
        margin-left: 23%;
    }

    .login2{
        margin-left: 4%;
    }
    
    p{
        margin-left: 4%;
    }
}



@media (max-width: 768px){

    body{
        background-repeat: no-repeat;
        background-size: cover;
        height: 866px;
    }

    .telaLogin{
        margin-top: 150px;
    }

    .logo{
        margin-left: 5%;
    }

    .logo img{
        width: 50%;
    }

    .login1{
        margin-left: 15%;
    }

    .login2{
        padding-left: 5%;
    }
    
    p{
        padding-left: 5%;
    }
}

@media (max-width: 689px){
    
    body{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo{
        padding-right: 5%;
    }

    .logo img{
        width: 45%;
    }

    .login1{
        padding-left: 7%;
    }

    .login2{
        padding-left: 2%;
    }
    
    p{
        padding-left: 2%;
    }
}